@tailwind base;
@tailwind utilities;

@layer base {
  :root {
      --color-primary: 4 221 178;
      --color-secondary: 88 239 209;
      --color-third: 255 255 255;
      --color-fourth: 118 118 118;
      /* ... */
  }
}